<div id="<%= dom_id bancodado %>">
    <strong>Nome:</strong>
    <%= bancodado.nome %>

    <strong>Cpf:</strong>
    <%= bancodado.cpf %>

    <strong>Nascimento:</strong>
    <%= bancodado.nascimento %>

    <strong>Genero:</strong>
    <%= bancodado.genero %>

    <strong>Rg:</strong>
    <%= bancodado.rg %>

    <strong>Entidade:</strong>
    <%= bancodado.entidade %>

</div>
