<div id="<%= dom_id bancodado %>">
    <strong></strong>
    <%= bancodado.nome %>

    <strong></strong>
    <%= bancodado.cpf %>

    <strong></strong>
    <%= bancodado.nascimento %>

    <strong></strong>
    <%= bancodado.genero %>

    <strong></strong>
    <%= bancodado.rg %>

    <strong></strong>
    <%= bancodado.entidade %>

</div>
