<%= form_with(model: bancodado) do |form| %>
  <% if bancodado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bancodado.errors.count, "error") %> prohibited this bancodado from being saved:</h2>

      <ul>
        <% bancodado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "form-group">
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class= "form-group">
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf, class: "form-control"  %>
  </div>

  <div class= "form-group">
    <%= form.label :nascimento, style: "display: block" %>
    <%= form.text_field :nascimento, class: "form-control"  %>
  </div>

  <div class= "form-group">
    <%= form.label :genero, style: "display: block" %>
    <%= form.text_field :genero, class: "form-control"  %>
  </div>

  <div class= "form-group">
    <%= form.label :rg, style: "display: block" %>
    <%= form.text_field :rg, class: "form-control"  %>
  </div>

  <div class= "form-group">
    <%= form.label :entidade, style: "display: block" %>
    <%= form.text_field :entidade, class: "form-control"  %>
  </div>

   <div class= "form-group">
    <%= form.number_field :user_id, id: :bancodado_user_id, 
    class: "form-control", value: current_user.id, type: :hidden  %>
  </div>

  <div class= "actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
