<h1>Bancodados</h1>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <!-- <th>id</th> -->
      <th>Nome</th> 
      <th>CPF</th> 
      <th>Nascimento</th> 
      <th>Genero</th> 
      <th>RG</th> 
      <th>Entidade</th>
      <th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bancodados.each do |bancodado| %>
      <% if bancodado.user == current_user %>
      <tr> 
        <!-- <td> <%= bancodado.id %> </td> -->
        <td> <%= bancodado.nome %> </td>
        <td> <%= bancodado.cpf %> </td>
        <td> <%= bancodado.nascimento %> </td>
        <td> <%= bancodado.genero %> </td>
        <td> <%= bancodado.rg %> </td>
        <td> <%= bancodado.entidade %> </td>
        <td> <%= bancodado.user_id %> </td>
        <td> <%= link_to "Show", bancodado %> </td>
        <td> <%= link_to "Edit", edit_bancodado_path(bancodado) %> </td>
        <td> <%= button_to "Destroy", bancodado, method: :delete %> </td>
      </tr>
      <% end %>
        <!-- <td> <%= render bancodado %> </td> -->

    <% end %>
  </tbody>
</table>

<%= link_to "New bancodado", new_bancodado_path, class: "btn btn-info" %>
