<!--

<%= render @bancodado %>

<div>
  <%= link_to "Edit", edit_bancodado_path(@bancodado) %> |
  <%= link_to "Back", bancodados_path %>

  <%= button_to "Destroy", @bancodado, method: :delete %>
</div>

-->

<div class="jumbotron">
  <h1 class="display-4"> 
    <%= @bancodado.nome %>
  </h1>


  <table class="table">
    <tbody>
      <tr class="lead">
        <td> Id: <%= @bancodado.id %> </td>
        <td> CPF:  <%= @bancodado.cpf %> </td>
        <td> Nascimento:  <%= @bancodado.nascimento %> </td>
        <td> Gênero:  <%= @bancodado.genero %> </td>
        <td> RG:  <%= @bancodado.rg %> </td>
        <td> Entidade:  <%= @bancodado.entidade %> </td>
      </tr>
    </tbody>
  </table>

        <%= link_to "Edit", edit_bancodado_path(@bancodado), class: "btn btn-secondary" %> 
        <%= link_to "Back", bancodados_path, class: "btn btn-dark" %> 
        <br/><br/>
        <%= button_to "Destroy", @bancodado, method: :delete, class: "btn btn-secondary" %>
        
</div>

